.header{
    font-family: 'Oswald', sans-serif;
}
.readme{
    font-family: 'Ubuntu', sans-serif;
}
.quote{
    font-family: 'Caveat', cursive;
}
.bigletter { 
    float: left; color: #153d55; font-size: 75px; line-height: 60px; padding-top: 4px; padding-right: 8px; padding-left: 3px; font-family: Georgia; 
}
.smallimg{
    width: 300px;
}